.container{
	max-width: 1024px;
	margin: 0px;
	padding: 0px;
	/*border:1px black solid;*/
}

.title-perfil{
	font-weight: bold;
}

.figura-idmedico{
	margin:0px;
	padding: 0px;
}

.figura-idmedico img{
	width: 100%;
}